@{
    ViewBag.Title = "BuscarProyecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <div class='container'>
        <h2>Busca un proyecto</h2>
    </div>

}

@section content{
    <div class="container">
        <div class="row">
            <h3 class="header-lined" style="margin-bottom: 10px;">Participación y organización comunitaria</h3>
        </div>
        <div class="carousel slide" id="carousel-posts">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="row bottom-margin">
            <div class="col-md-4">
              <div class="blog-teaser animated-when-visible animated flipInX" data-animation-type="flipInX">
                <img alt="" src="http://placehold.it/800x600">
                <h3>
                  <a href="#">How to build a theme</a>
                </h3>
                <div class="blog-teaser-meta">
                  <span class="meta-item">
                    <i class="icon-time"></i>
                    17 Nov, 2013
                  </span>
                  <span class="meta-item">
                    <a href="#">
                      <i class="icon-comments"></i>
                      24
                    </a>
                  </span>
                  <span class="meta-item">
                    <a href="#">
                      <i class="icon-heart"></i>
                      15
                    </a>
                  </span>
                </div>
                <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate.</p>
                <a class="continue-reading-link" href="#">Continue Reading</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="blog-teaser animated-when-visible delay-animation-one animated flipInX" data-animation-type="flipInX">
                <img alt="" src="http://placehold.it/800x600">
                <h3>
                  <a href="#">Why is Earth a better theme</a>
                </h3>
                <div class="blog-teaser-meta">
                  <span class="meta-item">
                    <i class="icon-time"></i>
                    17 Nov, 2013
                  </span>
                  <span class="meta-item">
                    <a href="#">
                      <i class="icon-comments"></i>
                      24
                    </a>
                  </span>
                  <span class="meta-item">
                    <a href="#">
                      <i class="icon-heart"></i>
                      15
                    </a>
                  </span>
                </div>
                <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables.</p>
                <a class="continue-reading-link" href="#">Continue Reading</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="blog-teaser animated-when-visible delay-animation-two animated flipInX" data-animation-type="flipInX">
                <img alt="" src="http://placehold.it/800x600">
                <h3>
                  <a href="#">Free customer support</a>
                </h3>
                <div class="blog-teaser-meta">
                  <span class="meta-item">
                    <i class="icon-time"></i>
                    17 Nov, 2013
                  </span>
                  <span class="meta-item">
                    <a href="#">
                      <i class="icon-comments"></i>
                      24
                    </a>
                  </span>
                  <span class="meta-item">
                    <a href="#">
                      <i class="icon-heart"></i>
                      15
                    </a>
                  </span>
                </div>
                <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate customer.</p>
                <a class="continue-reading-link" href="#">Continue Reading</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row bottom-margin">
            <div class="col-md-4">
              <div class="blog-teaser animated-when-visible animated flipInX" data-animation-type="flipInX">
                <img alt="" src="http://placehold.it/800x600">
                <h3>
                  <a href="#">How to build a theme</a>
                </h3>
                <div class="blog-teaser-meta">
                  <span class="meta-item">
                    <i class="icon-time"></i>
                    17 Nov, 2013
                  </span>
                  <span class="meta-item">
                    <a href="#">
                      <i class="icon-comments"></i>
                      24
                    </a>
                  </span>
                  <span class="meta-item">
                    <a href="#">
                      <i class="icon-heart"></i>
                      15
                    </a>
                  </span>
                </div>
                <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate.</p>
                <a class="continue-reading-link" href="#">Continue Reading</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="blog-teaser animated-when-visible delay-animation-one animated flipInX" data-animation-type="flipInX">
                <img alt="" src="http://placehold.it/800x600">
                <h3>
                  <a href="#">Why is Earth a better theme</a>
                </h3>
                <div class="blog-teaser-meta">
                  <span class="meta-item">
                    <i class="icon-time"></i>
                    17 Nov, 2013
                  </span>
                  <span class="meta-item">
                    <a href="#">
                      <i class="icon-comments"></i>
                      24
                    </a>
                  </span>
                  <span class="meta-item">
                    <a href="#">
                      <i class="icon-heart"></i>
                      15
                    </a>
                  </span>
                </div>
                <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables.</p>
                <a class="continue-reading-link" href="#">Continue Reading</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="blog-teaser animated-when-visible delay-animation-two animated flipInX" data-animation-type="flipInX">
                <img alt="" src="http://placehold.it/800x600">
                <h3>
                  <a href="#">Free customer support</a>
                </h3>
                <div class="blog-teaser-meta">
                  <span class="meta-item">
                    <i class="icon-time"></i>
                    17 Nov, 2013
                  </span>
                  <span class="meta-item">
                    <a href="#">
                      <i class="icon-comments"></i>
                      24
                    </a>
                  </span>
                  <span class="meta-item">
                    <a href="#">
                      <i class="icon-heart"></i>
                      15
                    </a>
                  </span>
                </div>
                <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate customer.</p>
                <a class="continue-reading-link" href="#">Continue Reading</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
}
