@model Proyecta.Models.Proyecto

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section content{
    <div class="col-md-9">
        <h2>Proyecto: @Html.DisplayFor(model => model.Nombre)</h2>
        <h2>Descripcion:</h2>
        <p>@Html.DisplayFor(model => model.Propuesta)</p>
        <h2>Recursos:</h2>
        <p>@Html.DisplayFor(model => model.Recursos)</p>
    </div>
    
}
