@model IEnumerable<Proyecta.Models.Proyecto>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string descripcion = "";
}

@section header{

    <div class="container">
        <div class="col-md-3">
            
        </div>
        <div class="col-md-9">
            <h3>Proyectos Destacados</h3>
        </div>
        <div class="col-md-3">
            <div class="post-side-bar">
                <div class="widget widget-cats">
                    <h4 class="widget-title">Proyectos
                    </h4>
                    <ul>
                        <li>
                            <a href="#"><i class="icon-user"></i>Participación y organización comunitaria</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-user"></i>Bienestar del adulto mayor</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-user"></i>Comunidades indígenas</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-heart"></i>Salud mental y emocional</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-heart"></i>Salud ambiental</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-heart"></i>Salud sexual y reproductiva</a>
                        </li>

                        <li>
                            <a href="#"><i class="icon-heart"></i>Salud materna</a>
                        </li>
                    </ul>
                </div>
                <img src="~/assets/images/Logo Proyecta.png" style="width: 75%; margin-top: 20px;" />
            </div>
            
        </div>
        <div class="col-md-9">
            <div class="row">
                @foreach(var item in Model){
                    descripcion = item.Propuesta;
                    if (descripcion.Length > 200)
                    {
                        descripcion = descripcion.Substring(0, 199) + " ...";
                    }
                    
                    <div class="col-md-4">
                        <div class="team-member animated-when-visible delay-animation-one animated bounceInUp" data-animation-type="bounceInUp">
                            <div class="member-avatar">
                                <a href="Proyecto/Index?id=@item.Id"><!--imagen redirecciona-->
                                    <img alt="" src="http://dr.robert.cr/wp-content/uploads/2009/05/tortuga.jpeg" />
                                </a>
                            </div>
                            <h3 style="min-height: 90px;">@item.Nombre</h3>
                            <h4>Categoria: @item.Categoria</h4>
                            <p>@descripcion</p>
                            <p><a href="Proyecto/Index?id=@item.Id">Leer más</a></p>
                            <div class="member-social">
                                <a href="#">
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="icon-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="icon-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="icon-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div style="border-top:1px solid #ddd;margin-top:20px;">
                <h3>Empresas Destacadas</h3>
            </div>
            <div class="clients">
            <div class="row bottom-margin">
                <div class="col-md-4">
                    <div style="width: 100%">
                        <img alt="" class="animated-when-visible animated rotateInUpLeft" data-animation-type="rotateInUpLeft" src="~/assets/images/Grupo%20Inco/logo.png" style="height: 90px;">
                    </div> 
                </div>
                <div class="col-md-4">
                    <div style="width: 100%;">
                        <img alt="" class="animated-when-visible delay-animation-one animated rotateInUpLeft" data-animation-type="rotateInUpLeft" src="~/assets/images/Gobierno%20Digital/logo.png" style="height: 90px;">
                    </div>
                </div>
                <div class="col-md-4">
                    <div style="width: 100%;">
                        <img alt="" class="animated-when-visible delay-animation-two animated rotateInUpLeft" data-animation-type="rotateInUpLeft" src="~/assets/images/Defensoria/logo.jpg" style="height: 90px;">
                    </div>
                </div>
            </div>
    </div>
        </div>
    </div>
}

@section content{
    <div class='separator-shadow-top sub-screenshot-shadow'>
        <img alt='' src='~/assets/images/shadow-separator-wide-top.png'>
    </div>
    <div class='iconed-features lift-on-hover style-1'>
        <div class='row'>
            <div class='col-md-4'>
                <div class='iconed-feature' href='#'>
                    <div class='feature-icon-w'>
                        <i class='icon-eye-open'></i>
                    </div>
                    <h4>Busca proyectos</h4>
                    <p>Works perfectly on everything from desktops to mobile devices.</p>
                    <div class='btn-show-on-parent-hover'>
                        <a class='read-more-link' href='#'>Read More</a>
                    </div>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='iconed-feature' href='#'>
                    <div class='feature-icon-w'>
                        <i class='icon-cog'></i>
                    </div>
                    <h4>Crea tu proyecto</h4>
                    <p>Theme comes with multiple predefined colors.</p>
                    <div class='btn-show-on-parent-hover'>
                        <a class='read-more-link' href='#'>Read More</a>
                    </div>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='iconed-feature' href='#'>
                    <div class='feature-icon-w'>
                        <i class='icon-info'></i>
                    </div>
                    <h4>Guía para crear proyectos</h4>
                    <p>Clean and simple design is what people want nowadays.</p>
                    <div class='btn-show-on-parent-hover'>
                        <a class='read-more-link' href='#'>Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
