@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section content{
<div class='separator-shadow-top sub-screenshot-shadow'>
    <img alt='' src='assets/images/shadow-separator-wide-top.png'>
</div>
<div class='iconed-features lift-on-hover style-1'>
    <div class='row'>
    <div class='col-md-4'>
        <div class='iconed-feature' href='#'>
        <div class='feature-icon-w'>
            <i class='icon-eye-open'></i>
        </div>
        <h4>Responsive Layout</h4>
        <p>Works perfectly on everything from desktops to mobile devices.</p>
        <div class='btn-show-on-parent-hover'>
            <a class='read-more-link' href='#'>Read More</a>
        </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div class='iconed-feature' href='#'>
        <div class='feature-icon-w'>
            <i class='icon-cog'></i>
        </div>
        <h4>Unlimited Colors</h4>
        <p>Theme comes with multiple predefined colors.</p>
        <div class='btn-show-on-parent-hover'>
            <a class='read-more-link' href='#'>Read More</a>
        </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div class='iconed-feature' href='#'>
        <div class='feature-icon-w'>
            <i class='icon-leaf'></i>
        </div>
        <h4>Modern Look</h4>
        <p>Clean and simple design is what people want nowadays.</p>
        <div class='btn-show-on-parent-hover'>
            <a class='read-more-link' href='#'>Read More</a>
        </div>
        </div>
    </div>
    </div>
</div>
}
