@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <!--
    <section class='leaderboard leaderboard-style-one'>
        <div class='container'>
            <h1 class='animated fadeInDown'>Proyecta</h1>
            <h2 class='animated fadeInDown'><i>"Enlazando ideas y creando soluciones"</i></h2>
            <div class='relative-w'>
                <div class='loupe loupe-left animated rollIn'>
                    <img alt='' src='http://placehold.it/700x500'>
                </div>
                <div class='loupe loupe-right animated fadeInRightBig'>
                    
                    <img src="~/assets/images/costa_rica.png" />
                </div>
                <div class='frame-browser animated bounceInUp'>
                    <div class='frame-buttons'>
                    <div class='frame-button-close'></div>
                    <div class='frame-button-max'></div>
                    <div class='frame-button-min'></div>
                    </div>
                    <div class='frame-browser-image'>
                    <img alt=''src='http://placehold.it/700x500'>
                    </div>
                </div>
            </div>
        </div>
    </section>
        -->
    <div class="container">
        <div class="col-md-2">
            <div class="post-side-bar">
                <div class="widget widget-cats">
                  <h4 class="widget-title">
                    Proyectos
                  </h4>
                  <ul>
                    <li>
                      <a href="#">Participación y organización comunitaria</a>
                    </li>
                    <li>
                      <a href="#">Salud mental y emocional</a>
                    </li>
                    <li>
                      <a href="#">Salud ambiental</a>
                    </li>
                    <li>
                      <a href="#">Salud sexual y reproductiva</a>
                    </li>
                    <li>
                      <a href="#">Bienestar del adulto mayor</a>
                    </li>
                      <li>
                      <a href="#">Salud materna</a>
                    </li>
                    <li>
                      <a href="#">Comunidades indígenas</a>
                    </li>
                  </ul>
                </div>
              </div>
        </div>
        <div class="col-md-10">
            <div class="row bottom-margin">
              <div class="col-md-3">
                <div class="team-member animated-when-visible animated bounceInUp" data-animation-type="bounceInUp">
                  <div class="member-avatar">
                    <img alt="" src="http://placehold.it/500x500">
                  </div>
                  <h3>Lionel Messi</h3>
                  <h4>Goal Machine</h4>
                  <p>Messi started the season by lifting the Spanish Supercup with Barcelona, scoring three goals and providing two assists.</p>
                  <div class="member-social">
                    <a href="#">
                      <i class="icon-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="icon-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="icon-linkedin"></i>
                    </a>
                    <a href="#">
                      <i class="icon-envelope"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="team-member animated-when-visible delay-animation-one animated bounceInUp" data-animation-type="bounceInUp">
                  <div class="member-avatar">
                    <img alt="" src="http://placehold.it/500x500">
                  </div>
                  <h3>David Villa</h3>
                  <h4>Perfect Finisher</h4>
                  <p>Messi started the season by lifting the Spanish Supercup with Barcelona, scoring three goals and providing two assists.</p>
                  <div class="member-social">
                    <a href="#">
                      <i class="icon-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="icon-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="icon-linkedin"></i>
                    </a>
                    <a href="#">
                      <i class="icon-envelope"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="team-member animated-when-visible delay-animation-two animated bounceInUp" data-animation-type="bounceInUp">
                  <div class="member-avatar">
                    <img alt="" src="http://placehold.it/500x500">
                  </div>
                  <h3>Andres Iniesta</h3>
                  <h4>Magician</h4>
                  <p>Messi started the season by lifting the Spanish Supercup with Barcelona, scoring three goals and providing two assists.</p>
                  <div class="member-social">
                    <a href="#">
                      <i class="icon-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="icon-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="icon-linkedin"></i>
                    </a>
                    <a href="#">
                      <i class="icon-envelope"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="team-member animated-when-visible delay-animation-three animated bounceInUp" data-animation-type="bounceInUp">
                  <div class="member-avatar">
                    <img alt="" src="http://placehold.it/500x500">
                  </div>
                  <h3>Xavi Hernandez</h3>
                  <h4>Another Magician</h4>
                  <p>Messi started the season by lifting the Spanish Supercup with Barcelona, scoring three goals and providing two assists.</p>
                  <div class="member-social">
                    <a href="#">
                      <i class="icon-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="icon-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="icon-linkedin"></i>
                    </a>
                    <a href="#">
                      <i class="icon-envelope"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
    </div>
</div>
}

@section content{
<div class='separator-shadow-top sub-screenshot-shadow'>
    <img alt='' src='~/assets/images/shadow-separator-wide-top.png'>
</div>
<div class='iconed-features lift-on-hover style-1'>
    <div class='row'>
    <div class='col-md-4'>
        <div class='iconed-feature' href='#'>
            <div class='feature-icon-w'>
                <i class='icon-eye-open'></i>
            </div>
            <h4>Busca proyectos</h4>
            <p>Works perfectly on everything from desktops to mobile devices.</p>
            <div class='btn-show-on-parent-hover'>
                <a class='read-more-link' href='#'>Read More</a>
            </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div class='iconed-feature' href='#'>
        <div class='feature-icon-w'>
            <i class='icon-cog'></i>
        </div>
        <h4>Crea tu proyecto</h4>
        <p>Theme comes with multiple predefined colors.</p>
        <div class='btn-show-on-parent-hover'>
            <a class='read-more-link' href='#'>Read More</a>
        </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div class='iconed-feature' href='#'>
        <div class='feature-icon-w'>
            <i class='icon-info'></i>
        </div>
        <h4>Guía para crear proyectos</h4>
        <p>Clean and simple design is what people want nowadays.</p>
        <div class='btn-show-on-parent-hover'>
            <a class='read-more-link' href='#'>Read More</a>
        </div>
        </div>
    </div>
    </div>
</div>
}
